.row.mt-2
  .col-lg-5
    img.-align-left.img-pharmacy.mb-4(src="{{pharmacy.image}}")
  .col-lg-7
    h2 {{pharmacy.name}}
    h4 {{pharmacy.address}}
    p {{pharmacy.description}}
    h4 Hours
    p(*ngFor="let hour of pharmacy.hours") {{hour}}
    h4 Contact Info
    p 
      a(href="{{pharmacy.homepage}}" target="_blank") Contact {{pharmacy.name}}