section
  .row.items(*ngIf="canRender()")
    .col-sm-12.col-md-4.w-100.text-center(*ngFor="let product of products.items;")
      app-product("[product]"="product")
  .progress(*ngIf="!canRender()")
    .progress-bar.progress-bar-striped.progress-bar-animated.w-100(
        role="progressbar"
        aria-valuemin="0"
        aria-valuenow="75"
        aria-valuemax="100")