section.mt-2
  h4 Naloxone Exchange discreetly delivers naloxone to your doorstep
section.mt-2
  h4 How it Works
  ul
    li Place an order for Naloxone
    li The order is filled by a pharmacist at a partner pharmacy
    li We ship it to you, free of cost; it will arrive within two weeks
section.mt-2
  h4 Your Privacy is Protected
  p Naloxone Exchange is compliant with HIPAA and all other federal regulations.
