section.scroll-section
  .container
    header.mb-4
      h1.text-center Get Naloxone Delivered to Your Doorstep
    section.text-center.mb-2
      img.img-fluid(src="/assets/img/home-2.gif")
    section.steps-container
      .steps
        h3.number.mr-3.mb-0 1
        span.text-left Place an order for Naloxone and receive effective training.
      .steps
        h3.number.mr-3.mb-0 2
        span.text-left The order is filled by a pharmacist at a partner pharmacy.
      .steps
        h3.number.mr-3.mb-0 3
        span.text-left We ship it to you; it will arrive within one week.

section#how-it-works.scroll-section
  .container
    header.mb-4
      h1.text-center Why Naloxone Exchange
    section.why-container
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-custom.text-center.mr-3("[icon]"="faUsd")
        .contents
          .title AFFORDABLE
          .content We offer the lowest-price naloxone drugs for sale online in the USA.
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-custom.text-center.mr-3("[icon]"="faUser")
        .contents
          .title PRIVATE
          .content We are HIPAA-compliant and never share your information with anyone but our partner pharmacies, ever.
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-custom.text-center.mr-3("[icon]"="faBottle")
        .contents
          .title EASE & ACCESS
          .content No insurance is required, so everyone can order naloxone drugs online in supported states.
