container-max-width = 800px

img.centered
  margin-left: auto
  margin-right: auto
  width: 100%

.steps-container
  margin: auto
  max-width: container-max-width

.steps
  display: flex
  align-items: center
  font-weight: 450
  magrin-bottom: 1em

.number
  color: rgba(0, 164, 197, 1)

.why-container
  margin: auto
  max-width: container-max-width

.reasons
  margin-top: 20px

.image
  color: white
  min-width: 70px

.title
  font-weight: 450
  color: rgba(255, 255, 255, 1)

.fa-custom
  font-size: 40px; // min size

  @media screen and (min-width: 375px)
    font-size: 10vw
  @media screen and (min-width: 590px)
    font-size: 60px //max size

.content
  font-weight: 450
