section.scroll-section
  .container
    header.mb-4
      h1.text-center Get Naloxone Delivered to Your Doorstep
      .container
        .row.justify-content-sm-center
          .col-sm-10.col-md-9.col-xl-7.text-center
            p Fiduscript's mission is to use the most effective, evidence-based solutions to provide life-saving
              |  resources to people online.
    section.text-center.mb-2
      img.img-fluid(src="/assets/img/nasal_spray_homepage.png")
    section.steps-container
      .row.justify-content-sm-center
        .col-sm-9.col-md-9.col-xl-9.text-center
          .steps
            h3.mr-3.mb-0 •
            span.text-left Naloxone orders for businesses in Texas are available
          .steps
            h3.mr-3.mb-0 •
            span.text-left Direct to consumer orders coming soon
    .container.pt-3
      .row.justify-content-sm-center
        .col-sm-10.col-md-11.text-center
          a
            span.bg-danger.text-white.get-naloxone.text-nowrap(routerLink="/buy") Get Naloxone

section#how-it-works.scroll-section
  .container
    header.mb-4
      h1.text-center Why Naloxone Exchange
    section.why-container
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-custom.text-center.mr-3("[icon]"="faUsd")
        .contents
          .title AFFORDABLE
          .content We offer the lowest-price naloxone drugs for sale online in the USA.
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-custom.text-center.mr-3("[icon]"="faUser")
        .contents
          .title PRIVATE
          .content We are HIPAA-compliant and never share your information with anyone but our partner pharmacies, ever.
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-custom.text-center.mr-3("[icon]"="faBottle")
        .contents
          .title EASE & ACCESS
          .content No insurance is required, so everyone can order naloxone drugs online in supported states.
