section.scroll-section
  .container
    header.mb-4
      h1.text-center Naloxone Exchange Discreetly Delivers Naloxone to Your Doorstep
    section.mb-2
      img.img-fluid(src="/assets/img/home-2.gif")
    section.steps-container
      .steps
        span.number 1
        span.text-left Place an order for Naloxone
      .steps
        span.number 2
        span.text-left The order is filled by a pharmacist at a partner pharmacy
      .steps
        span.number 3
        span.text-left We ship it to you, free of cost; it will arrive within two weeks

section#how-it-works.scroll-section
  .container
    header.mb-4
      h1.text-center Why Naloxone Exchange

    section.why-container
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-4x.text-center("[icon]"="faUsd")
        .contents
          .title Affordable
          .content We offer the lowest-price naloxone drugs for sale online in the USA.
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-4x.text-center("[icon]"="faUser")
        .contents
          .title Private
          .content We are HIPAA-compliant and never share your information with anyone but our partner pharmacies, ever.
      .reasons.d-flex.align-items-center
        fa-icon.image.fa-4x.text-center("[icon]"="faBottle")
        .contents
          .title Ease & Access
          .content No insurance is required, so everyone can order naloxone drugs online in supported states.
