header.text-center
  h1 Naloxone Exchange
  h6 Inspired by progressive legislation such as the standing order to expand Naloxone access to everyone.

section
  .row.mt-2
    .col-lg-2
    .col-lg-8
      img.centered(src="/assets/img/Surgeon-General-2.png")
    .col-lg-2
  .row.mt-2
    .col-lg-2
    .col-lg-8
      p The first advisory warning in over a decade was recently issued by the Surgeon General, urging Americans to carry Naloxone, the drug that can stop opioid overdose.
    .col-lg-2
  .row.mt-2
    .col-lg-2
    .col-lg-8
      img.centered(src="/assets/img/Screenshot_20180514-215309.png")
    .col-lg-2
  .row.mt-2
    .col-lg-2
    .col-lg-8
      p At the current rate, the opioid epidemic will claim 500,000 lives in the next 10 years. Naloxone is a medication that can rapidly reverse opioid overdose and prevent overdose death. Naloxone Exchange is a HIPAA compliant online marketplace where you can purchase Naloxone without a prescription and have it shipped straight to your door!
    .col-lg-2




