header.text-center

section
  .row.mt-2
    .col-lg-2
    .col-lg-8
      h1 Naloxone Exchange discreetly delivers naloxone to your doorstep
    .col-lg-2
  .row.mt-2
    .col-lg-2
    .col-lg-8
      h1 How it Works
      ul
        li Place an order for Naloxone
        li The order is filled by a pharmacist at a partner pharmacy
        li We ship it to you, free of cost; it will arrive within two weeks
    .col-lg-2
  .row.mt-2
    .col-lg-2
    .col-lg-8
      h1 Your Privacy is Protected
      p Naloxone Exchange is compliant with HIPAA and all other federal regulations.
    .col-lg-2



