section.scroll-section
  .container.text-center
    h3 Naloxone Exchange Discreetly Delivers Naloxone to Your Doorstep
    img.img-fluid(src="/assets/img/yay.gif")
    .steps-container
      .steps
        span.number 1
        span Place an order for Naloxone
      .steps
        span.number 2
        span The order is filled by a pharmacist at a partner pharmacy
      .steps
        span.number 3
        span We ship it to you, free of cost; it will arrive within two weeks
section#how-it-works.scroll-section
  .container
    h3.text-center Why Naloxone Exchange
    .container
      .reasons.d-flex.align-items-center
        svg-icon.image(
          src="../assets/svg/affordable.svg"
          "[svgStyle]"="{ 'width.px':100 }"
        )
        .contents
          .title Affordable
          .content We offer the lowest-price naloxone drugs for sale online in the USA.
      .reasons.d-flex.align-items-center
        svg-icon.image(
          src="../assets/svg/privacy.svg"
          "[svgStyle]"="{ 'width.px':100 }"
        )
        .contents
          .title Private
          .content We are HIPAA-compliant and never share your information with anyone but our partner pharmacies, ever.
      .reasons.d-flex.align-items-center
        svg-icon.image(
          src="../assets/svg/access.svg"
          "[svgStyle]"="{ 'width.px':100 }"
        )
        .contents
          .title Ease & Access
          .content No insurance is required, so everyone can order naloxone drugs online in supported states.
//- section#privacy.scroll-section
//-   .container
//-     h3.text-center Your Privacy is Protected
//-     p Naloxone Exchange is compliant with HIPAA and all other federal regulations.
