img.centered
  margin-left: auto
  margin-right: auto
  width: 100%

.steps-container
  margin: auto
  max-width: 853px

.steps
  display: flex
  align-items: center
  font-size: 16px
  font-weight: 500
  color: #6c757d

.number
  color: rgba(0, 164, 197, 1)
  font-size: 45px
  margin-right: 10px

.why-container
  margin-top: 50px

.reasons
  margin-top: 20px
  color: #525252

.image
  color: white
  max-height: 100px
  min-width: 150px

.title
  font-size: 20px
  font-weight: 500
  color: rgba(255, 255, 255, 1)

.content
  font-weight: 500
