section.scroll-section
  .container.text-center
    h3 Naloxone Exchange Discreetly Delivers Naloxone to Your Doorstep
    img.img-fluid(src="/assets/img/yay.gif")
section#how-it-works.scroll-section
  .container
    h3.text-center How it Works
    ul
      li Place an order for Naloxone
      li The order is filled by a pharmacist at a partner pharmacy
      li We ship it to you, free of cost; it will arrive within two weeks
section#privacy.scroll-section
  .container
    h3.text-center Your Privacy is Protected
    p Naloxone Exchange is compliant with HIPAA and all other federal regulations.
section#products.scroll-section
  .container
    img.img-fluid(src="/assets/img/products.png")