header.full-header
  h1 Get Naloxone Delivered to Your Doorstep
  h5
    em Safely, Discreetly

.container
  section.text-center
    img.img-fluid(src="/assets/img/home-2.gif")
  section.steps-container
    .steps
      h3.number.mr-3.mb-0 1
      span.text-left Place an order for Naloxone
    .steps
      h3.number.mr-3.mb-0 2
      span.text-left The order is filled by a pharmacist at a partner pharmacy
    .steps
      h3.number.mr-3.mb-0 3
      span.text-left We ship it to you, free of cost; it will arrive within two weeks
