.modal-header
  h4.modal-title#modal-basic-title Privacy Policy
  button.close((click)="activeModal.dismiss()")
    span(aria-hidden="true") &times;
.modal-body {{privacyContent}}
  .small.text-center last updated: {{privacyVersion}} 
.modal-footer
  button.btn.btn-light((click)="activeModal.close()") Close