header.training-header
  margin-top: 30px
  margin-bottom: 30px

@charset
  "UTF-8";
    @font-face
      font-family Avenir Next

*
  margin 0
  padding 0
  border none
  font-size 100%
  color black
  vertical-align baseline
  font-family Avenir Next
  text-decoration none

nav
  position absolute
  text-align center
  display flex
  flex-direction row
  flex-wrap none
  z-index 9
  justify-content flex-start
  align-items flex-start
  align-content flex-start
  width 100vw
  div
    display flex
    overflow hidden
    height 9vh
    text-align center
    flex-direction column
    flex-wrap none
    width 16.8vw
    flex-grow 1
    font-size 2vh
    &:hover
      overflow visible
  a
    text-decoration none
    padding-right 2vh
    padding-left 2vh
    padding-top 3vh
    padding-bottom 3vh
    font-size auto
    transition .5s ease
    background-color rgba(255,255,255,1)
    text-wrap none
    &:hover
      background-color rgba(245,245,245,1)
  #first
    font-size 2.5vh

#first
  img
    width inherit
    padding 0
    margin 0

header
  button
    display none

#logo
  width 10vw
  img
    padding 0
    height 5vh
    width auto
  a
    padding-top 2vh
    padding-left 1vw
    padding-right 1vw
    padding-bottom 1vh

#cart
  width 6vw
  img
    padding 0
    height 5vh
    width auto
  a
    padding-top 2vh
    padding-left 1vw
    padding-right 1vw
    padding-bottom 1vh

main
  div
    display block
    width 100vw
    background-repeat no-repeat
    background-attachment fixed

#two
  background-color rgba(0, 164, 197, 1)
  height 100vh
  h1
    color white

#three
  background-color rgba(0, 164, 197, .75)
  background-position center
  height 100vh

#five
  background-color rgba(0, 164, 197, .5)
  height 100vh

#six
  background-color rgba(0, 164, 197, .25)
  height 100vh

#seven
  height 100vh
  background-color rgba(255,255,255,1)

.title
  padding-top 10vh
  padding-bottom 5vh
  padding-left 15vw
  width 70vw
  h1
    color white
    font-size 6vh
    text-align center
  img
    height auto
    width 60vw
    margin auto

.body
  object-alignment center
  text-align left
  padding-top 0vh
  padding-right 10vw
  padding-left 10vw
  padding-bottom 10vh
  width 80%
  font-size 3vh
  h1
    text-align center
    font-size 4vh

footer
  padding 5px
  margin 10px
  content '\211E'
  background-color rgba(245,245,245,1)

