   section#training-video.mt-2
        video(width='inherit', height='100vh', controls='')
          source(src='https://vimeo.com/263891432', type='video/mp4')
   section#overdose-recognition.mt-2
        h1 Overdose Recognition
        p During an opioid overdose, the drug has affected the brain and the person’s ability to breathe. Breathing can slow down to dangerously low levels, and in some cases, stop. Recognizing when someone has overdosed can be the difference between life or death.
        h1 Potential signs of an opioid overdose:
        ul
            li The person will not wake up or respond to you when you call their name or touch them
            li The person's breathing is irregular or extremely slow (the average person will breathe at least every 5 seconds)
            li The person's pupils are small
            li The person's fingernails or lips are blue, indicating that their body is not getting enough oxygen
            li The person is limp or unable to move
            li The person is making a choking or gurgling sound
            li The person has no pulse
   section#administer.mt-2
        h1 Administering Narcan
        img(src='/assets/img/narcan-usage-1.png')
        img(src='/assets/img/narcan-usage-2.jpg')
        img(src='/assets/img/narcan-usage-3.png')
   section#aftercare.mt-2
        h1 After administering naloxone, seek immediate help
        h1 Take the person overdosing to the hospital as soon as possible; one dose of naloxone may not be enough, and naloxone immediately induces withdrawal symptoms 