header.text-center
  div.container
    div.row1
      h2 Team Leads
    div.row
      div.col-md
        a(href="https://www.linkedin.com/in/jameslottchicago/")
          img(src="/assets/img/james.jpg")
          h4 James Lott
          h5 Founder, CEO
      div.col-md
        a(href="https://www.linkedin.com/in/strakerc")
          img(src="/assets/img/straker.jpg")
          h4 Straker Carryer
          h5 CTO
    div.row1
      h2.text-center Team Members
    div.row
      div.col-md
        a(href="https://www.linkedin.com/in/maryiamsaifuddin/")
          img(src="/assets/img/maryiam.jpg")
          h4 Maryiam Saifuddin
          h5 Partnerships Manager
      div.col-md
        a(href="https://www.linkedin.com/in/joy-rooney-p-e-712a9025/")
          img(src="/assets/img/joy.jpeg")
          h4 Joy Rooney
          h5 
      div.col-md
        a(href="https://www.linkedin.com/in/gracelyn-newhouse-702a245a/")
          img(src="/assets/img/gracelyn.jpeg")
          h4 Gracelyn Newhouse
          h5 Strategy
    div.row
      div.col-md
        a(href="https://www.linkedin.com/in/ryan-conrad-96a19a11a/")
          img(src="/assets/img/ryan.jpg")
          h4 Ryan Conrad
          h5 Development
      div.col-md
        a(href="https://www.linkedin.com/in/balaji-shyamsundar-b2b26b39/")
          img(src="/assets/img/balaji.jpg")
          h4 Balaji Shyamsundar
          h5 Development
      div.col-md
        a(href="https://www.linkedin.com/in/jehwa/")
          img(src="/assets/img/jehwa.jpeg")
          h4 Jehwa Shin
          h5 Development
      div.col-md
        a(href="https://www.linkedin.com/in/victoria-constant-b3a715115/")
          img(src="/assets/img/victoria.jpg")
          h4 Victoria Constant
          h5 Metcalf Intern
