header
  h2.text-dark.mb-2 Team Leads
section.text-center
  .row
    .col-md
      a(href="https://www.linkedin.com/in/jameslottchicago/" target='_blank')
        figure
          img.figure-img.rounded-circle.face(src="/assets/img/james.jpg")
        figcaption.figure-caption
          h4.text-dark James Lott
          h5.text-dark Founder, CEO
    .col-md
      a(href="https://www.linkedin.com/in/strakerc" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/straker.jpg")
        figcaption.figure-caption
          h4.text-dark Straker Carryer
          h5.text-dark CTO
header.mt-3
  h2.text-dark.mb-4 Team Members
section.text-center
  .row
    .col-md.m-1
      a(href="https://www.linkedin.com/in/maryiamsaifuddin/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/maryiam.jpg")
        figcaption.figure-caption
          h4.text-dark Maryiam Saifuddin
          h5.text-dark Partnerships Manager
    .col-md.m-1
      a(href="https://www.linkedin.com/in/joy-rooney-p-e-712a9025/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/joy.jpeg")
        figcaption.figure-caption
          h4.text-dark Joy Rooney
          h5.text-dark Outreach
    .col-md.m-1
      a(href="https://www.linkedin.com/in/gracelyn-newhouse-702a245a/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/gracelyn.jpeg")
        figcaption.figure-caption
          h4.text-dark Gracelyn Newhouse
          h5.text-dark Strategy
    .col-md.m-1
      a(href="https://www.linkedin.com/in/azeezalli/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/azeez.jpeg")
        figcaption.figure-caption
          h4.text-dark Azeez Alli
          h5.text-dark UX/UI Consultant
  .row
    .col-md.m-1
      a(href="https://www.linkedin.com/in/ryan-conrad-96a19a11a/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/ryan.jpg")
        figcaption.figure-caption
          h4.text-dark Ryan Conrad
          h5.text-dark Development
    .col-md.m-1
      a(href="https://www.linkedin.com/in/balaji-shyamsundar-b2b26b39/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/balaji.jpg")
        figcaption.figure-caption
          h4.text-dark Balaji Shyamsundar
          h5.text-dark Development
    .col-md.m-1
      a(href="https://www.linkedin.com/in/jehwa/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/jehwa.jpeg")
        figcaption.figure-caption
          h4.text-dark Jehwa Shin
          h5.text-dark Development
    .col-md.m-1
      a(href="https://www.linkedin.com/in/victoria-constant-b3a715115/" target='_blank')
        figure
          img.rounded-circle.face(src="/assets/img/victoria.jpg")
        figcaption.figure-caption
          h4.text-dark Victoria Constant
          h5.text-dark Metcalf Intern