header.mb-5
  h1.text-center Our Team

section
  .d-flex.flex-wrap.justify-content-around
    div(*ngFor="let person of honchos;")
      app-portrait([person]="person")
  hr.mt-4.mb-4
  .row.text-center
    .col-xs-12.col-sm-6.col-md-4.col-lg-3(*ngFor="let person of lays;")
      app-portrait([person]="person")
