.container.text-center.mx-auto
  header
    h2.text-dark.pb-2 Team Leads
  section
    .row
      .col-md.p-1
        a(href="https://www.linkedin.com/in/jameslottchicago/" target='_blank')
          img.rounded-circle.face(src="/assets/img/james.jpg")
          h4.text-dark.p-1 James Lott
          h5.text-dark Founder, CEO
      .col-md.p-1
        a(href="https://www.linkedin.com/in/strakerc" target='_blank')
          img.rounded-circle.face(src="/assets/img/straker.jpg")
          h4.text-dark.p-1 Straker Carryer
          h5.text-dark CTO
  header
    h2.text-dark.pb-4 Team Members
  section
    .row
      .col-md.p-1
        a(href="https://www.linkedin.com/in/maryiamsaifuddin/" target='_blank')
          img.rounded-circle.face(src="/assets/img/maryiam.jpg")
          h4.text-dark.p-1 Maryiam Saifuddin
          h5.text-dark Partnerships Manager
      .col-md.p-1
        a(href="https://www.linkedin.com/in/joy-rooney-p-e-712a9025/" target='_blank')
          img.rounded-circle.face(src="/assets/img/joy.jpeg")
          h4.text-dark.p-1 Joy Rooney
          h5.text-dark Outreach
      .col-md.p-1
        a(href="https://www.linkedin.com/in/gracelyn-newhouse-702a245a/" target='_blank')
          img.rounded-circle.face(src="/assets/img/gracelyn.jpeg")
          h4.text-dark.p-1 Gracelyn Newhouse
          h5.text-dark Strategy
      .col-md.p-1
        a(href="https://www.linkedin.com/in/azeezalli/" target='_blank')
          img.rounded-circle.face(src="/assets/img/azeez.jpeg")
          h4.text-dark.p-1 Azeez Alli
          h5.text-dark UX/UI Consultant
    .row
      .col-md.p-1
        a(href="https://www.linkedin.com/in/ryan-conrad-96a19a11a/" target='_blank')
          img.rounded-circle.face(src="/assets/img/ryan.jpg")
          h4.text-dark.pt-1 Ryan Conrad
          h5.text-dark Development
      .col-md.p-1
        a(href="https://www.linkedin.com/in/balaji-shyamsundar-b2b26b39/" target='_blank')
          img.rounded-circle.face(src="/assets/img/balaji.jpg")
          h4.text-dark.p-1 Balaji Shyamsundar
          h5.text-dark Development
      .col-md.p-1
        a(href="https://www.linkedin.com/in/jehwa/" target='_blank')
          img.rounded-circle.face(src="/assets/img/jehwa.jpeg")
          h4.text-dark.p-1 Jehwa Shin
          h5.text-dark Development
      .col-md.p-1
        a(href="https://www.linkedin.com/in/victoria-constant-b3a715115/" target='_blank')
          img.rounded-circle.face(src="/assets/img/victoria.jpg")
          h4.text-dark.p-1 Victoria Constant
          h5.text-dark Metcalf Intern