header.text-center
  h1.pt-5 Our Mission
section
  p.text-light.text-left.pt-5 Fighting addiction can feel like being stranded on an island: you may feel isolated, low on resources, and in need of life-saving support. Millions of people suffering from addiction never get a real shot at purposeful, productive lives because of the crippling impact of social stigma and the inaccessibility of quality resources and treatments. The result is a downward spiral of feelings of hopelessness and despair, leading to further social isolation, which perpetuates the cycle.
  p.text-light.text-left.pt-2 This is intolerable. When people fall into addiction, we all lose. Our failed, blinded system must be fixed. 
  p.text-light.text-left.pt-2 Fiduscript's mission is to use the most effective, evidence-based solutions to provide life-saving resources to people online. We aim to help prevent substance use disorder and addiction, and to use technology to help end the social stigma associated with these conditions.
  p.text-light.text-left.pt-2 We know these changes won’t happen overnight, but we believe we are planting the seeds for a better future for communities all over the United States.
  
