section.scroll-section
  .container
    h3.text-center About Us
    .row.mt-5
      .col-lg-4
        img.img-fluid(src='/assets/img/laptop-stethoscope-generic.png')
      .col-lg-8
        p 
          a.ml-1(href='https://www.theguardian.com/us-news/2018/aug/16/us-drug-overdose-deaths-opioids-fentanyl-cdc' target='_blank') Over 72,000 people in the U.S. died 
          | in 2017 of drug overdose due to opioid-related substances. The Naloxone Exchange, a company of
          a.ml-1(href='http://www.fiduscript.com' target='_blank') Fiduscript
          |, is an online marketplace where you can purchase Naloxone without a prescription. Naloxone Exchange (NE) is a HIPAA-compliant website for both desktop and mobile that allows any person to order Naloxone online and have it shipped straight to their door!
        p Former prescription laws for the medication required a visit to the doctor, and the prescription to be filled at a local pharmacy. Over the past few years several states implemented progressive policies make accessing Naloxone easier. This provides a unique opportunity to expand Naloxone, both in the brick and mortar pharmacy, and online.

section.scroll-section
  .container
    app-mission
section.scroll-section
  .container
    app-history
section.scroll-section
  .container
    app-our-sponsors
section.scroll-section
  .container
    app-our-team
section.scroll-section
  .container
    app-contact
