section.scroll-section
  .container#summary
    header.mb-5
      h1.text-center About Us
    section.row
      .col-lg-4
        img.w-100.img-fluid(src='/assets/img/laptop-stethoscope-generic.jpg')
      .col-lg-8.mt-lg-0.mt-4
        p
          | Over
          a.ml-1.mr-1(href='https://www.theguardian.com/us-news/2018/aug/16/us-drug-overdose-deaths-opioids-fentanyl-cdc' target='_blank') 72,000 people in the U.S. died
          | in 2017 of drug overdose due to opioid-related substances. The Naloxone Exchange, a company of
          a.ml-1(href='http://www.fiduscript.com' target='_blank') Fiduscript
          |, is an online marketplace where you can purchase Naloxone without a prescription. Naloxone Exchange (NE) is a HIPAA-compliant website for both desktop and mobile that allows any person to order Naloxone online and have it shipped straight to their door!
        p Former prescription laws for the medication required a visit to the doctor, and the prescription to be filled at a local pharmacy. Over the past few years several states implemented progressive policies make accessing Naloxone easier. This provides a unique opportunity to expand Naloxone, both in the brick and mortar pharmacy, and online.

section.scroll-section
  .container
    app-contact
