header.text-center.mt-2
  h1 About Us

section
  .row.mt-2
    .col-lg-4
      img.-align-left(src="/assets/img/laptop-stethoscope-generic.png")
    .col-lg-8
      p In 2016 over 60,000 people died of drug overdose due to opioid-related substances. The Naloxone Exchange, a company of #[a( href='http://www.fiduscript.com' ) Fiduscript], is an online marketplace where you can purchase Naloxone without a prescription. Naloxone Exchange (NE) is a HIPAA-compliant website for both desktop and mobile that allows any person to order Naloxone online and have it shipped straight to their door!
      p Former prescription laws for the medication required a visit to the doctor, and the prescription to be filled at a local pharmacy. Over the past few years several states implemented progressive policies make accessing Naloxone easier. This provides a unique opportunity to expand Naloxone, both in the brick and mortar pharmacy, and online.
  .row.mt-2
    .col-lg-4
    .col-lg-8
      app-history
  .row.mt-2
    .col-lg-4
    .col-lg-8
      app-mission
  .row.mt-2
    .col-lg-4
    .col-lg-8
      app-our-sponsors
  .row.mt-2
    .col-lg-4
    .col-lg-8
      app-team
