.login-container
  width: 350px
  margin: auto
  @media only scrren and (max-width: 359px)
    width: 90%

.login-logo
  hight: auto 
  width: 150px

.circle-icon
  background: #D6DBDF  
  width: 35px
  height: 35px
  border-radius: 50%
  line-height: 35px
  position: relative
  display: inline-block

.circle-icon.fa-facebook-f:hover
  background: #3B5998
  cursor: pointer

.circle-icon.fa-google:hover
  background: #db3236
  cursor: pointer

.or-seperator
  border-top: 1px solid #e0e0e0

.or
  width: 30px
  height: 30px
  display: inline-block
  position: relative
  top: -15px
  font-weight: 600
  background: white
  border: 1px solid #e0e0e0;
  border-radius: 50%
  z-index: 1

.login-btn
  width: 320px
