header.text-center.mt-2
h1 Partner Pharmacies
section#general
  .container
    p. 
        As mentioned in the FAQ, we partner with different pharmacies across 
        the US to fulfill the orders you place online. Here you can see the 
        specific pharmacies that we partner with.
section#pharmacies
  .row.mt-2
    .col-lg-4
      img.-align-left(src="/assets/img/GoodcarePharmacy.jpg")
    .col-lg-8
      h2 Good Care Pharmacy
      h4 Houston, Texas
      p. 
        "Good Care Pharmacy's mission is to provide the best pharmaceutical care
        and service to all patients. To treat patients with respect, dignity, 
        compassion and empathy regardless of their social background, race, or creed."
      h4 Hours
      p Monday - Friday: 9:00am - 5:00pm
      p Saturday - Sunday: Closed
      h4 Contact Info
      p #[a( href='https://www.thegoodcarepharmacy.com/contact-us' ) Contact Good Care Pharmacy]
