section#general.scroll-section
  h3.text-center Partner Pharmacies
  .container
    p. 
      As mentioned in the FAQ, we partner with different pharmacies across 
      the US to fulfill the orders you place online. Here you can see the 
      specific pharmacies that we partner with.
    br

  .container(*ngIf="pharmacies")
    app-pharmacy-list-item(*ngFor="let pharmacy of pharmacies.pharmacies" "[pharmacy]"="pharmacy")

