header.text-center.overdose-header
  h1 Overdose Recognition

section
  .row
    .col-lg-12
      p During an opioid overdose, the drug has affected the brain and the person’s ability to breath. Breathing can slow down to dangerously low levels and in some cases even stop. Recognizing when someone has overdosed can be the difference between life or death.
      p Potential signs of an opioid overdose:
      ul
        li Person will not wake up or respond to you when you call their name or when you touch them
        li Breathing is irregular or extremely slow. Average person will breath at least every 5 seconds
        li Pupils (the dark circle in our eye) is small
        li Fingernail or lips turning blue. This is a sign that the body is not getting enough oxygen.
        li Body is limp and person is unable to move
        li Choking sound or a gurgling sound
        li Unable to feel a pulse








