header.mt-lg-4
  h2(*ngIf="!canRender()") Product Not Found!
  h2(*ngIf="canRender()").text-center {{product.title}}

section(*ngIf="canRender()")
  .row
    .col-sm-12.col-md-3.col-lg-4
      img(src="{{product.imageUri}}" style="width:100%")
    .col-sm-12.col-md-9.col-lg-8
      markdown {{product.detailShort}}
  .row.mt-lg-4
    .col-sm-12.col-md-12.col-lg-12
      h2.mt-2.mb-2.text-center Details
      markdown {{product.details}}
      hr
  .row.mt-lg-4
    .col-sm-12.col-md-12.col-lg-12
      h2#usage.text-center Usage
      markdown.markdown {{product.usage}}
