.flex
  width: 100%
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  li.nav-item
    flex: 1
    
.get-naloxone
  border-radius: 100px!important
  padding: 11px 7px
  cursor: pointer!important
  
.dropdown-menu
  min-width: 100%
  margin-top: 0px
  
@media screen and (min-width: 769px)
 .dropdown-menu
   display: none
 .dropdown:hover .dropdown-menu
   display: block

@media screen and (max-width: 576px)
  .navbar-brand
    margin-right: 0px
  #get-naloxone
    margin-left: -1rem
