header.mb-4
  h1.text-center We were unable to find your order
section
  .container
    h5 How do I find my order?
    p Please reach out to us at sales@fiduscript.com or our
      a.ml-1.mr-1(href='/about-us#app-contact' target='_blank') contact us
      | page and include details about your order. We will respond as soon as possible.
