section#general.scroll-section
  .container.text-center(*ngIf="orderExists")
    !=require('./purchase-order-form-confirm-faq.component.pug')
  .container.center(*ngIf="!orderExists")
    !=require('./purchase-order-form-confirm-invalid.component.pug')
