h1 Please tell us for whom you are purchasing naloxone:
select
  option Self
  option Family member
  option Friend
  option Loved one
  option Community center or business location
  option EMS Responders
  option Police Precinct
  option Fire Dept.