@import 'https://use.fontawesome.com/releases/v5.7.2/css/all.css';
  // makes weight the same as h6
strong.less-strong
  font-weight: 500

// .footer
//   height: auto
//   bottom: 0
//   padding-bottom: 0.5em
//   padding-top: 0.7em
//   width: 100%

/* for sticky footer*/
app-root
  display: flex
  min-height: 100vh
  flex-direction: column

app-root > .content-section
  flex: 1

// section.scroll-section
//   min-height: 70vh
//   padding-top: 2em
//   padding-bottom: 2em

// @media (max-width: 576px)
//   section.scroll-section
//     min-height: 35vh

h1, h2, h3, h4, h5, h6
  font: "Playfair Display", serif
  font-weight: 700
  line-height: 1.2
  color: inherit

// section.scroll-section:nth-of-type(1)
//     color: rgba(0, 164, 197, 1)

// for num in (1..5)
//   section.scroll-section:nth-of-type(5n + {num + 1})
//     weight =  1 - (0.25 * (num - 1))
//     background-color: rgba(0, 164, 197, weight)

//     if (weight < 0.25)
//       color: rgba(0, 164, 197, 1)
//     else
//       color: #323232

//     h3, h4, h5, h6
//       if (weight < 0.25)
//         color: rgba(0, 164, 197, 1)
//       else
//         color: #525252
