/* Add custom bootstrap variables here. */

$gray-100: #f2f1f1;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #979a9d;
$gray-500: #979a9d;
$gray-600: #979a9d;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #0e0e0e;

$primary: #ffd300;
$secondary: $gray-600;
$success: #00b16a;
$info: #00acc1;
$warning: #f06005;
$danger: #ee1c25;
$light: $gray-100;
$dark: $gray-800;


$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$border-radius: 0.05rem;
$border-radius-lg: 0.07rem;
$border-radius-sm: 0.03rem;
