@import 'https://use.fontawesome.com/releases/v5.7.2/css/all.css';
  // makes weight the same as h6
strong.less-strong
  font-weight: 500

h1, h2, h3, h4, h5, h6
  font: "Playfair Display", serif
  font-weight: 700
  line-height: 1.2
  color: inherit
