/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.footer
  position: absolute
  bottom: 0
  height: 60px
  line-height: 60px
  width: 100%

html
  position: relative
  min-height: 100%

body
  margin-bottom: 60px