/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css';
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';
@import '~@ngx-share/button/styles/themes/circles/circles-dark-theme.css';

.footer
  height: auto
  bottom: 0
  padding-bottom: 0.5em
  padding-top: 0.7em
  width: 100%

/* for sticky footer*/
app-root
  display: flex
  min-height: 100vh
  flex-direction: column
app-root > .content-section
  flex: 1

html
  position: relative
  min-height: 100%

body
  font-family: Avenir Next

section.scroll-section
  min-height: 70vh
  padding-top: 2em
  padding-bottom: 2em

@media (max-width: 576px)
  section.scroll-section
    min-height: 35vh

section.scroll-section:nth-of-type(1)
  h1, h2, h3, h4, h5, h6
    color: rgba(0, 164, 197, 1)

for num in (1..5)
  section.scroll-section:nth-of-type(5n + {num + 1})
    weight =  1 - (0.25 * (num - 1))
    background-color: rgba(0, 164, 197, weight)
    h1, h2, h3, h4, h5, h6
      if (weight < 0.25)
        color: rgba(0, 164, 197, 1)
      else
        color: white
