header.mb-5
  h1.text-center History

section
  p
    | Fiduscript, LLC was founded in 2016 with the original intent of producing faster, smarter, and more user-friendly software for pharmacists to help prevent drug abuse and prescription fraud.
    | Now, Fiduscript's main focus is the nationwide expansion of Naloxone Exchange, the online platform which will enable anyone, anywhere in the US to legally have naloxone shipped straight to their door.