.container
  header.mb-5
    h1.text-center Hello {{user.name}}
  section
    .form-row
      .col-6
        app-user-account-settings([user]="user")
      .col-6
        app-addresses
    .form-row.mt-2
      .col-6
        app-orders
      .col-6
        app-relations