.card
  h5.card-header {{accountTypeService.getAccountTypeString()}} Account Settings
  ul.list-group.list-group-flush
    li.list-group-item.d-flex.justify-content-between
      div
        h6 Name
        span {{user.name}}
      div.align-self-center
        button.btn.btn-sm.btn-secondary("(click)"="editAttribute('name', editModal)") Edit

    li.list-group-item.d-flex.justify-content-between
      div
        h6 Email
        span {{user.email}}
      div.align-self-center
        button.btn.btn-sm.btn-secondary("(click)"="editAttribute('email', editModal)") Edit

    li.list-group-item.d-flex.justify-content-between
      div
        h6 Password
        strong ••••••••••
      div.align-self-center
        button.btn.btn-sm.btn-secondary("(click)"="editAttribute('password', editModal)") Edit

    li.list-group-item.d-flex.justify-content-between
      div
        h6 Subscription Settings
        span Subscribed to all notifications
      div.align-self-center
        button.btn.btn-sm.btn-secondary Edit

ng-template(#editModal let-modal class="modal-lg")
  .modal-header
    h4.modal-title Edit {{ editingAttribute | titlecase}}
  .modal-body
    app-user-update-attribute("[attributeName]"="editingAttribute" "*ngIf"="!isPassword()")
    app-user-update-password("[sucessCallback]"="closeModal" "*ngIf"="isPassword()")
