header.text-center.faq-header
  h1 Frequently Asked Questions

section
  .row
    div.container
      h5.question Q: To what states does Naloxone Exchange ship?
      p A: At launch, Naloxone Exchange will support orders that ship to Texas only.
    div.container
      h5.question Q: Does Naloxone Exchange support shipping to PO Boxes?
      p A: No.
    div.container
      h5.question Q: Does Naloxone Exchange store its own inventory of Naloxone?
      p A: No. Naloxone Exchange partners with pharmacies around the country in USA who store the drug.
    div.container
      h5.question Q: If Naloxone Exchange does not store its own Nalaxone, how do orders arrive at a customer’s door?
      p A: When Naloxone Exchange receives an order, an e-mail notification is sent to an appropriate partner pharmacy that is responsible for shipping the order. No Personal Medical Information (PMI) is included in this e-mail.
    div.container
      h5.question Q: What does it mean to be an appropriate partner pharmacy?
      p A: While Naloxone can now be ordered without a prescription from a pharmacy, it cannot be shipped outside of state lines. Thus, NE routes orders to partner pharmacies that reside within the same state as the shipping address of the order.
    div.container
      h5.question Q: To what information do partner pharmacies have access?
      p A: The following information is included in every order to the appropriate partner pharmacy:
        li First and last name of person creating the order
        li First and last name of person the order is for (optional)
        li Relationship between the person creating the order and the recipient of the order (optional)
        li Date of birth
        li Allergies
        li Address
        li Phone number