section#general.scroll-section
  .container
    header.mb-4
      h1.text-center General Frequently Asked Questions
    section
      .container
        h5 Q: To what states does Naloxone Exchange ship?
        p A: At launch, Naloxone Exchange will support orders that ship to Texas only.
      .container
        h5 Q: Does Naloxone Exchange support shipping to PO Boxes?
        p A: No.
      .container
        h5 Q: Does Naloxone Exchange store its own inventory of Naloxone?
        p A: No. Naloxone Exchange partners with pharmacies around the country in USA who store the drug.
      .container
        h5 Q: If Naloxone Exchange does not store its own Nalaxone, how do orders arrive at a customer’s door?
        p A: When Naloxone Exchange receives an order, an e-mail notification is sent to an appropriate partner pharmacy that is responsible for shipping the order. No Personal Medical Information (PMI) is included in this e-mail.
      .container
        h5 Q: What does it mean to be an appropriate partner pharmacy?
        p A: While Naloxone can now be ordered from a pharmacy, in most states it cannot be shipped outside of state lines. Thus, Naloxone Exchange routes orders to partner pharmacies that reside within the same state as the shipping address of the order.
      .container
        h5 Q: To what information do partner pharmacies have access?
        p A: The following information is included in every order to the appropriate partner pharmacy:
        ul
          li First and last name of person creating the order
          li First and last name of person the order is for (optional)
          li Relationship between the person creating the order and the recipient of the order (optional)
          li Date of birth
          li Allergies
          li Address
          li Phone number
