ul.list-unstyled
  li
    strong {{address.name}}
  li(*ngIf="address.street1 != ''")
    span {{address.street1}}
  li(*ngIf="address.street2 != ''")
    span {{address.street2}}
  li
    span {{address.city}}, {{address.state}} {{address.zip}}
  li(*ngIf="address.phoneNumber != null")
    span Phone number: {{address.phoneNumber}}
  li(*ngIf="address.specialInstructions != null")
    span Special Instructions:
    .pl-4 {{address.specialInstructions}}
  li
    small(*ngIf="address.weekendOkay") It is OKAY to deliver on weekends.
    small(*ngIf="!address.weekendOkay") Only deliver on week days (Monday through Friday).

.mt-1(*ngIf="editable")
  button.btn.btn-sm.btn-secondary.mr-2 Edit
  button.btn.btn-sm.btn-secondary Delete
