ul.list-unstyled
  li
    strong {{address.name}}
  li(*ngIf="address.street1 != null")
    span {{address.street1}}
  li(*ngIf="address.street2 != null")
    span {{address.street1}}
  li
    span {{address.city}}, {{address.state}} {{address.zip}}
  li(*ngIf="address.phoneNumber != null")
    span Phone number: {{address.phoneNumber}}
  li(*ngIf="address.specialInstructions != null")
    span Special Instructions
    p {{address.specialInstructions}}
  li
    small
      strong(*ngIf="address.weekendOkay") It is OKAY to deliver on weekends.
      strong(*ngIf="!address.weekendOkay") Only deliver on week days (Monday through Friday).

.row.mt-2(*ngIf="editable")
  .col
    a(href="#") Edit
  .col |
  .col
    a(href="#") Delete
