header.text-center
  div.container
    div.row1
      h2 In Partnership With
    div.row
      div.col-md
        a(href="https://www.thegoodcarepharmacy.com")
          img(src="/assets/img/GoodcarePharmacy.jpg")
      div.col-md
        a(href="http://www.amphastar.com")
          img(src="/assets/img/amphastar.jpg")
    div.row1
      h2.text-center Supported By
    div.row
      div.col-md
        a(href="https://www.clintonfoundation.org/clinton-global-initiative")
          img(src="/assets/img/clinton.jpg")
      div.col-md
        a(href="http://www.schweitzerfellowship.org")
          img(src="/assets/img/albert.jpg")
      div.col-md
        a(href="https://www.stanfordbrainstorm.com")
          img(src="/assets/img/stanford.jpg")
      div.col-md
        a(href="https://www.chicagobooth.edu/research/rustandy/what-we-do/social-entrepreneurship-programs/snvc")
          img(src="/assets/img/rc.jpg")
      div.col-md
        a(href="https://polsky.uchicago.edu")
          img(src="/assets/img/polsky.jpg")
