h1, div h4, div h5, div h2
  color #000000
  text-align center

.row1
  width 100%
  text-align center

img
  max-height 40vh
  max-width 70vw
  padding-bottom 1em
  background-color white

div div
  padding 1em

a:hover
  text-decoration none