header.text-center
  h2.text-dark In Partnership With
section
  .container
    .row
      .col-md.p-4
        a(href="https://www.thegoodcarepharmacy.com" target='_blank')
          img.mx-auto.bg-white.p-1(src="/assets/img/GoodcarePharmacy.jpg")
      .col-md.p-4
        a(href="http://www.amphastar.com" target='_blank')
          img.mx-auto(src="/assets/img/amphastar.jpg")
header.text-center
  h2.text-dark Supported By
section
  .container
    .row
      .col-md.p-4
        a(href="https://www.chicagobooth.edu/research/rustandy/what-we-do/social-entrepreneurship-programs/snvc" target='_blank')
          img.mx-auto(src="/assets/img/rc.jpg")
      .col-md.p-4
        a(href="https://www.stanfordbrainstorm.com" target='_blank')
          img.mx-auto.border.border-white.p-2.bg-white(src="/assets/img/stanford.jpg")
    .row
      .col-sm.p-4
        a(href="https://www.clintonfoundation.org/clinton-global-initiative" target='_blank')
          img.mx-auto.bg-white(src="/assets/img/clinton.jpg")
      .col-sm.p-4
        a(href="http://www.schweitzerfellowship.org" target='_blank')
          img.mx-auto(src="/assets/img/albert.jpg")
      .col-sm.p-4
        a(href="https://polsky.uchicago.edu" target='_blank')
          img.mx-auto(src="/assets/img/polsky.jpg")
